header {
	height:10em;
	z-index::1;
	margin-top:1em;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


@keyframes move-earth-back {
    from {background-position:-500px 0;}
    to {background-position:20000px 0;}
}
@-webkit-keyframes move-earth-back {
    from {background-position:-500px 0;}
    to {background-position:20000px 0;}
}
@-moz-keyframes move-earth-back {
    from {background-position:-500px 0;}
    to {background-position:20000px 0;}
}
@-ms-keyframes move-earth-back {
    from {background-position: -500px 0;}
    to {background-position: 20000px 0;}
}
.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:11em;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.earth{
    z-index:3;
	background-position:right;
	position:relative;
  	top:0;
  	left:0;
  	right:0;
 	bottom:0;
  	width:100%;
  	height:100%;
 	display:block;

  -moz-animation:move-earth-back 1000s linear infinite;
  -ms-animation:move-earth-back 1000s linear infinite;
  -o-animation:move-earth-back 1000s linear infinite;
  -webkit-animation:move-earth-back 1000s linear infinite;
  animation:move-earth-back 1000s linear infinite;
}

nav {
	text-align:center;
	background-color:rgb(0,0,0,.3);
	}

nav ul{
	list-style-type: none;
}

nav li {
	display:inline;
	font-size:larger;
}

nav a{
	font-size:larger;
	color: #cc99cc;
	text-decoration: none;
	padding: .25em;
	display: inline-block;
	background-color: #000;
}

.black{
	background-color:#000;
	}
nav a:hover{
	background-color:#39F;
}

aside{
	font-family: 'Permanent Marker', cursive;
	margin: 10px;
	font-size:large;
	position: relative;
	width:75%;
	height:auto;
	background-color:#00aabb;
	border-radius: 8px;
	padding: 1em 1em 1em 1em;
	color:#eee;
}

aside:after { 
content: ''; 
font-size:large;
position: absolute; 
left: 0; top: 50%; width: 0; height: 0; 
border: 0.813em solid transparent; 
border-right-color: #00aabb; 
border-left: 0; border-bottom: 0; 
margin-top: -0.406em; margin-left: -0.812em; }

#program {
	font-size:large;
	margin: auto;
	color:#CCC;
	text-shadow:1px 1px #000000;
	padding-bottom:1em;
	font-size:large;
}

#program div{
	width:50%;
	margin:0 auto;
	}

#program ul{
	text-align:left;
	list-style-type: none;
	font-size:large;
}

#program li:hover{
	background-color:#222;
	color:white;
}

.date{
	text-decoration: underline;
	text-transform: uppercase;
	padding: 5px 0 0 0;
}

.Workshops, .Prototyping, .Presentation{
	text-indent:10px;
}

.Workshops{
	color:#9C9;
}

.Prototyping{
	color:#F99;
}
.Presentation{
	color:#099;
	}

.program-group-rotation{
	 /* Rotate column headers */
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	}

#location h2, #resources h2, #sponsors h2, #Experts h2, #program h2{
	padding-top:1em;
	font-size:x-large;
	text-align:center;
	padding-top:1em;
	}

#about, #resources h4, #location h4, #sponsors h4, #Experts h4{
	color:#09F;
	text-shadow:1px 1px #000000;
	font-size:large;
}

.summary-container{
	list-style:none;
	margin:auto 0;
	padding-bottom:1em;
	padding-top:1em;
	width:100%;
	}
	
.sum{	
	background-color:rgba(51,51,51,.3);
	width:50%;
	text-decoration:none;
	size:1em;
	margin:0 auto;
	padding: 1em 1em 1em 1em;
	position:relative;
	}

h4, a{
	font-family: 'Raleway', sans-serif;

	}

h2{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-size:x-large;
	}
	
#resources, #location, .event, .thedayof, #sponsors{
	background-size:cover;
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	background-position:bottom;
	overflow:visible;
	color:#D18AB8;
	text-shadow:1px 1px #000;
	}

#resources{
	background-image:url(../img/Background-Resources.jpg);
	}
#sponsors{
	background-image:url(../img/Background-Sponsors.jpg);
	}
#location{
	background-image:url(../img/Background-Location.jpg);
	}
.event{
	background-image:url(../img/Background-Event-LG.jpg);
}

.thedayof{
	background-image:url(../img/Header-Palace.jpg);
	}

.button-container{
	list-style:none;
	margin:auto 0;
	width:100%;
	padding:1em 0 1em 0;
	}
	
.button{
	text-align:center;
	width:25%;
	background-color:#333;
	border: none;
	color: white;
	text-decoration:none;
	size:1em;
	margin:0 auto;
	padding:.1em 0 .1em 0;
	position:relative;
}

.button-content{
	display:none;
	position:absolute;
	z-index:1;
	min-height:10px;
	background-color:#999;
	padding:1em 1em;
	}
	
.button a{
	color:white;
	text-decoration:none;
}

.button:hover .button-content{
	background-color:#666;
	border: none;
	text-align: center;
	display:block;
	size:1em;
	border-radius: 8px;
	overflow:visible;
}

.card-container{
	width:100%;
	height:auto;
	text-align:center;
	margin:auto 0;
	padding-bottom:1.5em;
	padding-top:1.5em;
}

.card{
	display:inline-block;
	margin-left:.3em;
	transition: 0.2s;
	width:5em;
	height:8em;
	word-wrap:break-word;
	border-style: groove;
	border-radius: 5px;
	overflow:hidden;
}
.card a {
	text-decoration:none;
	}
	
.card-image{
	box-shadow:1 1 #000;
	transition:.3s;
	max-width:5em;
	margin:auto 0;
	text-align:center;
	height:5em;
	position:relative;
	z-index:0;
}
.card-name{
	background-color:#0C9;
	padding-top:.2em;
	word-wrap: break-word;
	min-height:3em;
	position:relative;
	text-align: center;
	color:#FFF;
	z-index:1;
	font-size:small;
	font-variant:small-caps;
	
}

.card-image:hover{
	transform:scale(1.25,1.25);
	transform-origin: 50% 50%;
	box-shadow:2 2 #0f0;
	z-index:3;
}

.card:hover{
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, from(rgba(255,204,204,0.2)), to(rgba(255,25,255,0.30)), color-stop(.5,#CCC));
	background-image: -webkit-radial-gradient(45px 45px, circle cover, rgba(255,204,204,0.2) 50%, rgba(255,25,255,0.30) 75%);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 5%);	
	border-style:double;
	}

.heart-container{
	background-color:#096;
	border-radius:1px;
	width:1.5em;
	height:1.25em;
	left:0;
	bottom:0;
	position:absolute;
	z-index:5;
}

.heart{
  position: absolute;
  width: .5em;
  height: .5em;
  bottom: .3em;
  left:.4em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(0,0,0, 1);
}
.heart:before,
.heart:after{
  position: absolute;
  width: .5em;
  height: .5em;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0,0,0, 1);
}
.heart:before{
  bottom: 0px;
  left: -0.25em;
}
.heart:after{
  top: -0.25em;
  right: 0px;
}

.theme-container{
	background-color:#096;
	width:4em;
	height:1.25em;
	right:0;
	bottom:0;
	position:absolute;
	z-index:5;
}

.theme{
  position: absolute;
  bottom: -0.2em;
  left:0.2em;
  font-size:small;
}

.img-resize{
	width:100%;
	height: auto;
	padding-top:.2em;
	}

.icon-resize{
	width:45px;
	height: p5x;
	padding-top:.2em;
	}

footer{
	width:100%;
	position: fixed;
	padding: .5em .5em .5em .5em;
	text-align:right;
	bottom: 0;
	right:15%;
	z-index:100;
	font-size:smaller;
	}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #500 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.translation{
	width:100%;
	position: fixed;
	padding: .5em .5em .5em .5em;
	text-align:right;
	top: 0;
	right:0;
	right:15%;
	}
.flag-border{
	border:rgba(204,204,204,0.3);
	border-style:solid;
	border-top:3px;
	}
