@charset "utf-8";
/* CSS Document */

.design-challenge-container {
    text-align: center;
}

.design-challenge{
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display:inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #666;
    -webkit-background-clip: text;
	/* outline of text for readability */
    -webkit-text-fill-color: transparent;
	   -webkit-text-stroke: .01em black;
}

.design-challenge:before,
.design-challenge:after {
    position: absolute;
    content: '';
}

/* for karlsruhe design challenge header */
.design-challenge:before {
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* header background zone */
.design-challenge:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #FFF;
}
 
.design-challenge-header {
    background-image:url(../../../../../Downloads/Karlsruhe.gif);
}